<template>

    <div class="container-fluid " >
        <div class="row">
            <div class="col-3 grey">
                <div class="panel">
                    <div class="logo">
                        <img src="/img/Logo.png" alt="">
                    </div>
                    <div class="navi">
                        <div class="title">
                            Оберіть дію:
                        </div>

                        <div class="ul">
                            <div class="li" v-if="isStudent">
                                <router-link to="/cabinet">
                                    Кабінет
                                </router-link>
                            </div>
                            <div class="li" v-if="isTeacher">
                                <router-link to="/cabinet-teacher">
                                    Кабінет викладача
                                </router-link>
                            </div>
                            <div class="li" v-if="isTeacher">
                                <router-link to="/cabinet-labs">
                                    Налаштування лабораторних
                                </router-link>
                            </div>
                            <div class="li" v-if="isTeacher">
                                <router-link to="/result">
                                    Дошка з результатами
                                </router-link>
                            </div>
                            <div class="li">
                                <a target="_blank" href="https://my.vntu.edu.ua/user/forward/">
                                    JetIQ
                                </a>
                            </div>
                            <div class="li">
                                <router-link to="/logout" v-if="role">
                                    Вийти
                                </router-link>
                            </div>

                        </div>



                    </div>
                </div>
            </div>
            <div class="col-9 black">
                <div class="main">
                    <router-view></router-view>
                </div>

            </div>
        </div>
    </div>

</template>
<script>
export default {
    name: "App",
    data(){
        return {
            role: ''
        }
    },
    watch: {
        '$route' (to, from) {
             this.updateMenu();
        }
    },
    methods: {
        updateMenu() {
            this.role = localStorage.getItem('role');
        },
        getUserRole: function() {
            return localStorage.getItem('role');
        }
    },
    computed: {
        isTeacher: function () {
            return this.role == 'teacher'
        },
        isStudent: function () {
            return this.role == 'student'
        },
    },
    mounted() {
        this.updateMenu()
    }
}
</script>

