// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*html {
    background: #000000;
    color: #FDFEFF;

    button {
        background: #009595;
    }

    input {
        background: #F0F2FA;
    }
}*/

/*.panel{
    color: #FFFFFF;
    background: #191919;

    .logo {

    }
}*/
