.grey
    background: #191919
.black
    background: #000000


#app button
    background: #009595
    border: 0
    border-radius: 4px
    font-weight: 600
    font-size: 16px
    color: #FFFFFF
    letter-spacing: 0.16em
    text-transform: uppercase
.panel
    color: #FFFFFF

    padding: 0 40px 0
    min-height: 100vh

    img
        max-width: 354px
        width: 100%

    .navi
        .title
            font-size: 14px
            line-height: 24px
            text-transform: uppercase
            padding-bottom: 25px
        .ul
            .li
                padding-bottom: 15px
                a
                    font-size: 20px
                    line-height: 24px
                    color: #FEFEFF
                    text-decoration: none
                    display: flex
                    padding: 0
                    margin: 0
                .router-link-active
                    color: #009595
                .router-link-active::after
                    content: '•'
                    margin-left: auto




.main

    .home, .login
        min-height: 100vh
        display: flex
        .block
            margin: auto
            text-align: center
        .block.email
            background: #191919
            padding: 32px
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            p
                font-size: 18px
                line-height: 24px



    .home
        img
            display: block
            margin-bottom: 32px

        h2
            color: #009595
            font-weight: 400
            font-size: 40px
            line-height: 44px
        p
            color: #666D74
            font-weight: 400
            font-size: 18px
            line-height: 24px

        button
            background: #009595
            border-radius: 4px
            width: 124px
            height: 48px
            border: 0
            font-weight: 600
            font-size: 16px
            color: #FFFFFF
            letter-spacing: 0.16em
            text-transform: uppercase

    .login
        .alert-warning
            background: transparent
            color: #F61C1C
            border: none
            margin-bottom: 0
        form
            background: #191919
            width: 435px
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16)
            border-radius: 8px
            padding: 32px

            .top
                justify-content: left
                text-align: left
                align-items: center
                margin-bottom: 30px
                .title
                    color: #009595
                    font-size: 40px
                    line-height: 42px
                    text-align: left
                .link a
                    color: #666D74
                    font-size: 18px
                    line-height: 24px

            button
                background: #009595
                border-radius: 4px
                width: 124px
                height: 48px
                border: 0
                font-weight: 600
                font-size: 16px
                color: #FFFFFF
                letter-spacing: 0.16em
                text-transform: uppercase

    .login.register
        button
            width: auto

    .cabinet
        padding: 35px 35px 0
        min-height: 100vh
        height: 100%

        .toolBar
            display: flex
            background: #191919
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16)
            border-radius: 8px
            padding: 20px 30px
            margin-bottom: 65px
            align-items: center
            justify-content: space-between
            .item
                display: flex
                width: 50%
                align-items: center

                .title
                    color: #666D74
                    padding-right: 30px

                select
                    width: 335px
                    background: #04C5C5
                    border-radius: 4px
                    font-size: 16px
                    color: #FFFFFF
                    outline-offset: unset
                    outline: none
                    background: #04C5C5 url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat right
                    -webkit-appearance: none
                    -moz-appearance: none
                    appearance: none
                img
                    width: 20px
                    display: block
                    margin-left: 20px
                    cursor: pointer
            .social
                display: flex
                align-items: center
                .title
                    font-size: 16px
                    line-height: 16px
                    color: #FFFFFF
                    padding-right: 3%
                    white-space: nowrap
                .images
                    display: flex
                    align-items: center
                    a
                        line-height: 0
                    img
                        margin: 0 10px

        .toolBar.teacher
            .item
                width: 70%
                select
                    margin-right: 20px


        .bords
            display: flex
            overflow-x: auto
            &::-webkit-scrollbar-track
                background-color: #191919
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
                border-radius: 10px
                border-color: #04C5C5
                border: 0.5px solid #04C5C5
            &::-webkit-scrollbar-thumb
                border-radius: 10px
                background-color: #04C5C5
            &::-webkit-scrollbar
                width: 10px
                background-color: #191919
                border-color: #04C5C5
            .bord
                min-width: 339px
                min-height: 80vh
                background: #191919
                margin-right: 45px
                border-radius: 10px

                .title
                    display: flex
                    background: #04C5C5
                    align-items: center
                    justify-content: center
                    color: #FFFFFF
                    height: 57px
                    border-top-left-radius: 10px
                    border-top-right-radius: 10px
                    text-align: center
                    font-size: 24px
                    .text
                        width: 100%
                        text-align: center
                        font-size: 24px
                    a, button
                        background-color: transparent!important
                        border: 0
                        outline: none
                        width: 20%
                        color: #FFFFFF
                        font-size: 30px!important
                        text-decoration: none
                        display: flex
                        align-items: center
                        justify-content: center

                .title.flex
                    display: flex
                    justify-content: space-between
                    align-items: center
                    position: relative
                    a, button
                        position: absolute

                .item
                    margin: 28px 10px 0
                    border: 2px solid #04C5C5
                    border-radius: 10px
                    min-height: 90px
                    color: #ffffff
                    padding: 15px
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                    cursor: pointer
                    .line
                        display: flex
                        justify-content: space-between
                    .mark_number
                        display: flex
                        .mark
                            border-radius: 41px
                            padding: 3px 10px
                            font-size: 11px
                            margin-right: 4px
                            color: #2C3A64
                .teacher-mark, .drowp>button
                    border-radius: 41px
                    display: flex
                    justify-content: center
                    align-items: center
                    margin: 28px auto
                    width: 90%
                    min-height: 35px





.CabinetTeacherLabs
    padding-top: 90px

    button
        padding: 15px 25px

    h3
        color: #FFFFFF
        padding-bottom: 45px

    .select, .elems
        width: 90%
        padding-bottom: 27px

        select
            width: 100%
            height: 40px

    .elems
        .item
            background: #F0F2FA
            border-radius: 4px
            display: flex
            align-items: center
            justify-content: space-between
            margin-bottom: 27px
            padding: 0 13px
            height: 40px
            width: 90%
            .keys
                display: flex
                align-items: center
                img
                    display: block
                    margin: 0 5px
                    cursor: pointer
                    width: 17px
                    height: 16px
        .itemWrap
            display: flex
            .item
                width: 90%
            .file
                width: 10%
                height: 40px
                display: flex
                align-items: center
                justify-content: center
                label
                    cursor: pointer
                input
                    display: none

.CreateLab
    width: 90%
    padding: 100px 0 0
    margin: 0 auto
    h3
        color: #FFFFFF
        padding-bottom: 50px
    .select
        padding-bottom: 50px
        max-width: 650px
    textarea
        width: 100%
        margin-bottom: 50px
        border-radius: 5px
    button
        padding: 15px 25px


.bugForm
    padding-top: 100px
    color: #ffffff
    .container1
        margin: 0 15px
    .top
        display: flex
        align-items: center
        justify-content: space-between
        padding-bottom: 50px
        .buttons
            button
                padding: 13px 26px
            button:last-child
                margin-left: 50px
        .teacher-form
            display: flex
            .statuses, .marks
                margin: 0 16px
                button
                    display: block
                    padding: 13px 26px
                    margin-bottom: 5px
                .drowp
                    position: absolute



    .form-row
        display: flex
        margin-bottom: 20px
        input
            width: 100%
            background: #F0F2FA
            border-radius: 4px
        textarea
            width: 100%
            background: #F0F2FA
            border-radius: 4px
        label
            width: 20%
            text-align: right
            padding-right: 10px
    .textarea
        padding-top: 40px
        label
            width: 15%
        button
            padding: 13px 26px











