@charset "UTF-8";
.grey {
  background: #191919;
}

.black {
  background: #000000;
}

#app button {
  background: #009595;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.panel {
  color: #FFFFFF;
  padding: 0 40px 0;
  min-height: 100vh;
}
.panel img {
  max-width: 354px;
  width: 100%;
}
.panel .navi .title {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.panel .navi .ul .li {
  padding-bottom: 15px;
}
.panel .navi .ul .li a {
  font-size: 20px;
  line-height: 24px;
  color: #FEFEFF;
  text-decoration: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.panel .navi .ul .li .router-link-active {
  color: #009595;
}
.panel .navi .ul .li .router-link-active::after {
  content: "•";
  margin-left: auto;
}

.main .home, .main .login {
  min-height: 100vh;
  display: flex;
}
.main .home .block, .main .login .block {
  margin: auto;
  text-align: center;
}
.main .home .block.email, .main .login .block.email {
  background: #191919;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .home .block.email p, .main .login .block.email p {
  font-size: 18px;
  line-height: 24px;
}
.main .home img {
  display: block;
  margin-bottom: 32px;
}
.main .home h2 {
  color: #009595;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
}
.main .home p {
  color: #666D74;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.main .home button {
  background: #009595;
  border-radius: 4px;
  width: 124px;
  height: 48px;
  border: 0;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.main .login .alert-warning {
  background: transparent;
  color: #F61C1C;
  border: none;
  margin-bottom: 0;
}
.main .login form {
  background: #191919;
  width: 435px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding: 32px;
}
.main .login form .top {
  justify-content: left;
  text-align: left;
  align-items: center;
  margin-bottom: 30px;
}
.main .login form .top .title {
  color: #009595;
  font-size: 40px;
  line-height: 42px;
  text-align: left;
}
.main .login form .top .link a {
  color: #666D74;
  font-size: 18px;
  line-height: 24px;
}
.main .login form button {
  background: #009595;
  border-radius: 4px;
  width: 124px;
  height: 48px;
  border: 0;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}
.main .login.register button {
  width: auto;
}
.main .cabinet {
  padding: 35px 35px 0;
  min-height: 100vh;
  height: 100%;
}
.main .cabinet .toolBar {
  display: flex;
  background: #191919;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding: 20px 30px;
  margin-bottom: 65px;
  align-items: center;
  justify-content: space-between;
}
.main .cabinet .toolBar .item {
  display: flex;
  width: 50%;
  align-items: center;
}
.main .cabinet .toolBar .item .title {
  color: #666D74;
  padding-right: 30px;
}
.main .cabinet .toolBar .item select {
  width: 335px;
  background: #04C5C5;
  border-radius: 4px;
  font-size: 16px;
  color: #FFFFFF;
  outline-offset: unset;
  outline: none;
  background: #04C5C5 url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.main .cabinet .toolBar .item img {
  width: 20px;
  display: block;
  margin-left: 20px;
  cursor: pointer;
}
.main .cabinet .toolBar .social {
  display: flex;
  align-items: center;
}
.main .cabinet .toolBar .social .title {
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  padding-right: 3%;
  white-space: nowrap;
}
.main .cabinet .toolBar .social .images {
  display: flex;
  align-items: center;
}
.main .cabinet .toolBar .social .images a {
  line-height: 0;
}
.main .cabinet .toolBar .social .images img {
  margin: 0 10px;
}
.main .cabinet .toolBar.teacher .item {
  width: 70%;
}
.main .cabinet .toolBar.teacher .item select {
  margin-right: 20px;
}
.main .cabinet .bords {
  display: flex;
  overflow-x: auto;
}
.main .cabinet .bords::-webkit-scrollbar-track {
  background-color: #191919;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border-color: #04C5C5;
  border: 0.5px solid #04C5C5;
}
.main .cabinet .bords::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #04C5C5;
}
.main .cabinet .bords::-webkit-scrollbar {
  width: 10px;
  background-color: #191919;
  border-color: #04C5C5;
}
.main .cabinet .bords .bord {
  min-width: 339px;
  min-height: 80vh;
  background: #191919;
  margin-right: 45px;
  border-radius: 10px;
}
.main .cabinet .bords .bord .title {
  display: flex;
  background: #04C5C5;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  height: 57px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-size: 24px;
}
.main .cabinet .bords .bord .title .text {
  width: 100%;
  text-align: center;
  font-size: 24px;
}
.main .cabinet .bords .bord .title a, .main .cabinet .bords .bord .title button {
  background-color: transparent !important;
  border: 0;
  outline: none;
  width: 20%;
  color: #FFFFFF;
  font-size: 30px !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .cabinet .bords .bord .title.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main .cabinet .bords .bord .title.flex a, .main .cabinet .bords .bord .title.flex button {
  position: absolute;
}
.main .cabinet .bords .bord .item {
  margin: 28px 10px 0;
  border: 2px solid #04C5C5;
  border-radius: 10px;
  min-height: 90px;
  color: #ffffff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.main .cabinet .bords .bord .item .line {
  display: flex;
  justify-content: space-between;
}
.main .cabinet .bords .bord .item .mark_number {
  display: flex;
}
.main .cabinet .bords .bord .item .mark_number .mark {
  border-radius: 41px;
  padding: 3px 10px;
  font-size: 11px;
  margin-right: 4px;
  color: #2C3A64;
}
.main .cabinet .bords .bord .teacher-mark, .main .cabinet .bords .bord .drowp > button {
  border-radius: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 28px auto;
  width: 90%;
  min-height: 35px;
}

.CabinetTeacherLabs {
  padding-top: 90px;
}
.CabinetTeacherLabs button {
  padding: 15px 25px;
}
.CabinetTeacherLabs h3 {
  color: #FFFFFF;
  padding-bottom: 45px;
}
.CabinetTeacherLabs .select, .CabinetTeacherLabs .elems {
  width: 90%;
  padding-bottom: 27px;
}
.CabinetTeacherLabs .select select, .CabinetTeacherLabs .elems select {
  width: 100%;
  height: 40px;
}
.CabinetTeacherLabs .elems .item {
  background: #F0F2FA;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27px;
  padding: 0 13px;
  height: 40px;
  width: 90%;
}
.CabinetTeacherLabs .elems .item .keys {
  display: flex;
  align-items: center;
}
.CabinetTeacherLabs .elems .item .keys img {
  display: block;
  margin: 0 5px;
  cursor: pointer;
  width: 17px;
  height: 16px;
}
.CabinetTeacherLabs .elems .itemWrap {
  display: flex;
}
.CabinetTeacherLabs .elems .itemWrap .item {
  width: 90%;
}
.CabinetTeacherLabs .elems .itemWrap .file {
  width: 10%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CabinetTeacherLabs .elems .itemWrap .file label {
  cursor: pointer;
}
.CabinetTeacherLabs .elems .itemWrap .file input {
  display: none;
}

.CreateLab {
  width: 90%;
  padding: 100px 0 0;
  margin: 0 auto;
}
.CreateLab h3 {
  color: #FFFFFF;
  padding-bottom: 50px;
}
.CreateLab .select {
  padding-bottom: 50px;
  max-width: 650px;
}
.CreateLab textarea {
  width: 100%;
  margin-bottom: 50px;
  border-radius: 5px;
}
.CreateLab button {
  padding: 15px 25px;
}

.bugForm {
  padding-top: 100px;
  color: #ffffff;
}
.bugForm .container1 {
  margin: 0 15px;
}
.bugForm .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}
.bugForm .top .buttons button {
  padding: 13px 26px;
}
.bugForm .top .buttons button:last-child {
  margin-left: 50px;
}
.bugForm .top .teacher-form {
  display: flex;
}
.bugForm .top .teacher-form .statuses, .bugForm .top .teacher-form .marks {
  margin: 0 16px;
}
.bugForm .top .teacher-form .statuses button, .bugForm .top .teacher-form .marks button {
  display: block;
  padding: 13px 26px;
  margin-bottom: 5px;
}
.bugForm .top .teacher-form .statuses .drowp, .bugForm .top .teacher-form .marks .drowp {
  position: absolute;
}
.bugForm .form-row {
  display: flex;
  margin-bottom: 20px;
}
.bugForm .form-row input {
  width: 100%;
  background: #F0F2FA;
  border-radius: 4px;
}
.bugForm .form-row textarea {
  width: 100%;
  background: #F0F2FA;
  border-radius: 4px;
}
.bugForm .form-row label {
  width: 20%;
  text-align: right;
  padding-right: 10px;
}
.bugForm .textarea {
  padding-top: 40px;
}
.bugForm .textarea label {
  width: 15%;
}
.bugForm .textarea button {
  padding: 13px 26px;
}
