<template>
    <div class="bugForm">
        <div class="container1">
            <div class="row">
                <div class="col-12 top">
                    <div class="h3">Баг репорт</div>
                    <div class="teacher-form" v-if="this.getUserRole == 'teacher'">

                        <div class="marks">
                            <button @click="showDropdownM = !showDropdownM"
                                    :style="{ 'background-color': (selectedMarkElem ) ? selectedMarkElem.color : '#009595' }"
                            >
                                {{ (selectedMarkElem ) ? selectedMarkElem.name : 'Оцінити'}}
                            </button>

                            <div v-if="showDropdownM" class="drowp">
                                <button v-for="(mark) in marks" :key="mark.id"
                                        @click="changeMark(mark.id)"
                                        :style="{ 'background-color': mark.color }"
                                >
                                    {{ mark.name }}
                                </button>

                            </div>
                        </div>

                        <div class="statuses">
                            <button @click="showDropdown = !showDropdown">
                                {{ (selectedStatusElem && selectedStatusElem.name) ? selectedStatusElem.name : 'Перемістити'}}
                            </button>

                            <div v-if="showDropdown" class="drowp">
                                <button v-for="status in statuses" :key="status.id"
                                        @click="changeStatus(status.id)"
                                >
                                    {{ status.name }}
                                </button>

                            </div>
                        </div>


                    </div>


                </div>

                <div class="col-6">
                    <div class="form-row">
                        <label for="">Назва</label>
                        <input type="text" v-model="bug.title">
                    </div>
                    <div class="form-row">
                        <label for="">Browser</label>
                        <input type="text" v-model="bug.browser">
                    </div>
                    <div class="form-row">
                        <label for="">Link</label>
                        <input type="text" v-model="bug.link">
                    </div>
                    <div class="form-row">
                        <label for="">Other link</label>
                        <input type="text" v-model="bug.other_link">
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-row">
                        <label for="">Severity</label>
                        <input type="text" v-model="bug.severity">
                    </div>
                    <div class="form-row">
                        <label for="">OS</label>
                        <input type="text" v-model="bug.os">
                    </div>
                    <div class="form-row">
                        <label for="">OS Version</label>
                        <input type="text" v-model="bug.os_version">
                    </div>
                    <div class="form-row">
                        <label for="priority">Priority</label>
                        <input type="text" id="priority" v-model="bug.priority">
                    </div>
                </div>

                <div class="col-12 textarea">
                    <div class="form-row">
                        <label for="description">Description</label>
                        <textarea name="" id="description" cols="30" rows="10"  v-model="bug.description"></textarea>
                    </div>
                    <div class="form-row">
                        <label for="reproduse">Steps To Reproduse</label>
                        <textarea name="" id="reproduse" cols="30" rows="10"  v-model="bug.reproduse"></textarea>
                    </div>
                    <div v-if="this.getUserRole == 'student'">
                        <button class="float-end"
                                @click="updateBug()"
                                v-if="this.getBugId"
                        >Оновити</button>
                        <button class="float-end"
                                @click="createBug()"
                                v-if="!this.getBugId"
                        >Відправити</button>
                    </div>

                    <div v-if="this.error" class="error">
                        {{this.error}}
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>
import axios from "../service/setAuthHeader";

export default {
    name: "BugForm",
    data(){
        return {
            bug: {
                "laboratory_id": null,
                "title": "",
                "description": "",
                "status_id": null,
                "mark_id": null,
                "severity": "",
                "browser": "",
                "os": "",
                "link": "",
                "os_version": "",
                "other_link": "",
                "priority": "",
                "reproduse": ""
            },
            error: '',
            showDropdown: false,
            selectedStatus: null,
            statuses: [],
            marks: [],
            selectedMark: null,
            showDropdownM: false
        }
    },
    methods: {
        async getBug() {
            if (this.getBugId) {
                const response = await axios.get(`/api/bugs/${this.getBugId}`)
                this.bug = response.data
                if (this.bug.mark_id){
                    this.selectedMark = this.bug.mark_id
                }
                if (this.bug.status_id){
                    this.selectedStatus = this.bug.status_id
                }
            }
        },
        async updateBug() {
            if(!this.validate()) return
            if (!this.getBugId) {
                this.bug.laboratory_id = this.getLabId;
            }
            const response = await axios.put(`/api/bugs/${this.getBugId}`, this.bug)
        },
        async createBug() {
            console.log(this.validate);
            if(!this.validate()){
                return
            }
            if (!this.getBugId) {
                this.bug.laboratory_id = this.getLabId;
            }
            const response = await axios.post(`/api/bugs`, this.bug)
            this.goBack()
        },
        validate(){
            if(!this.bug.title || !this.bug.description){
                this.error = "Поле 'Назва' та 'Description' обов'язкові для заповнення"
                return false;
            } else {
                this.error = ''
                return true;
            }
        },
        goBack() {
            this.$router.push('/cabinet')
        },
        changeStatus(id) {
            this.selectedStatus = id
            this.showDropdown = false;
            this.updateStatus()
        },
        async updateStatus() {
            const response = await axios.put(`/api/bugs/${this.getBugId}/status`, {'status_id': this.selectedStatus})
        },
        async getStatuses(){
            const response = await axios.get(`/api/status`)
            this.statuses = response.data
        },
        changeMark(id) {

            this.selectedMark = id
            this.showDropdownM = false;
            this.updateMark()
        },
        async updateMark() {
              const response = await axios.put(`/api/bugs/${this.getBugId}/mark`, {'mark_id': this.selectedMark})
        },
        async getMarks(){
            const response = await axios.get(`/api/marks`)
            this.marks = response.data
        },

    },
    mounted() {
        this.getBug();
        this.getMarks();
        this.getStatuses();
    },
    computed: {
        getLabId: function () {
            return this.$route.params.laboratoryId;
        },
        getUserRole: function () {
            return localStorage.getItem('role')
        },
        getBugId: function () {
            return this.$route.params.id
        },
        selectedMarkElem: function () {
            let vm = this
            return this.marks.find(function(mark){
                return mark.id === vm.selectedMark
            })
        },
        selectedStatusElem: function () {
            let vm = this
            return this.statuses.find(function(status){
                return status.id === vm.selectedStatus
            })
        },
    }
}
</script>

<style scoped>

</style>
