<template>
    <div class="cabinet">
        <div class="toolBar">
            <div class="item">
                <div class="title">
                    Пошук
                </div>

                <select class="form-select" v-model="selectedLab" @change="changeLab(selectedLab)">
                    <option v-for="lab in labs" :value="lab.id">{{ lab.title }}</option>
                </select>

                <img  src="/img/down.svg" alt=""
                      @click="downloadFile(findLabElem.fileDown)"
                      v-if="findLabElem && findLabElem.fileDown"
                >

            </div>
            <Social></Social>
        </div>

        <div class="bords">
            <div class="bord">
                <div class="title flex add-bugs">
                    <router-link :to="`/bugs/form/${this.selectedLab}`" tag="button">+</router-link>
                    <div class="text" >Баг репорти</div>
                </div>
                <div v-if="bugs.length">
                    <div class="item" v-for="bug in notStatusBugs" @click="goToBug(bug.id)">
                        <div class="line">
                            <div class="name">{{this.getUserName}}</div>
                            <div class="name">{{bug.date}}</div>
                        </div>
                        <div class="line">
                            <div class="name">{{bug.title}}</div>
                            <div class="mark_number">
                                <div class="mark" v-if="marks.length && bug.mark_id"
                                     :style="{ 'background-color': this.getMark(bug.mark_id).color }"
                                >{{this.getMark(bug.mark_id).name}}</div>
                                <div class="name">{{bug.number}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bord">
                <div class="title">Повернено</div>
                <div v-if="bugs.length">
                    <div class="item" v-for="bug in returnStatusBugs" @click="goToBug(bug.id)">
                        <div class="line">
                            <div class="name">{{this.getUserName}}</div>
                            <div class="name">{{bug.date}}</div>
                        </div>
                        <div class="line">
                            <div class="name">{{bug.title}}</div>
                            <div class="mark_number">
                                <div class="mark"
                                     v-if="marks.length && bug.mark_id"
                                     :style="{ 'background-color': this.getMark(bug.mark_id).color }"
                                >{{this.getMark(bug.mark_id).name}}</div>
                                <div class="name">{{bug.number}}</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="bord">
                <div class="title">Виконано</div>
                <div v-if="bugs.length">
                    <div class="item" v-for="bug in completeStatusBugs" @click="goToBug(bug.id)">
                        <div class="line">
                            <div class="name">{{this.getUserName}}</div>
                            <div class="name">{{bug.date}}</div>
                        </div>
                        <div class="line">
                            <div class="name">{{bug.title}}</div>
                            <div class="mark_number">
                                <div class="mark" v-if="marks.length && bug.mark_id"
                                     :style="{ 'background-color': this.getMark(bug.mark_id).color }"
                                >{{this.getMark(bug.mark_id).name}}</div>
                                <div class="name">{{bug.number}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bord">
               <div class="title">Оцінка</div>
                 <div>
                    <div class="teacher-mark" v-if="getTeacherMark"
                         :style="{ 'background-color': getTeacherMark.color }"
                    >
                        {{getTeacherMark.name}}
                    </div>
                </div>
            </div>

        </div>


    </div>

</template>

<script>
import axios from "../service/setAuthHeader";
import Social from "../components/Social";

export default {
    name: "CabinetStudent",
    components: {
        Social
    },
    data(){
        return {
            labs: [],
            selectedLab: null,
            bugs: [],
            marks: [],
            selectedMark: null,
            showDropdownM: false,

            users: [],
            selectedUser: null,

            groups: [],
            selectedGroup: null
        }
    },
    methods: {
        async getAllLabs() {
            const response = await axios.get(`/api/laboratory`)
            this.labs = response.data

            if (this.labs.length > 0) {
                this.selectedLab = this.labs[0].id;
                this.selectedMark = this.labs[0].mark_id;
                this.getAllBugs(this.selectedLab)
            }
        },
        changeLab(id) {
            console.log(id)
            this.selectedLab = id;
            this.selectedMark = this.findLabElem.mark_id;
            this.getAllBugs(this.selectedLab)
        },
        async getAllBugs(lubId) {
            const response = await axios.get(`/api/bugs?labId=${lubId}`)
            this.bugs = response.data

        },
        async getMarks() {
            const response = await axios.get(`/api/marks`)
            this.marks = response.data

        },
        getMark: function (id) {
            console.log(id)
            return this.marks.find(function(mark){
                return mark.id === id
            })
        },
        goToBug(bugId) {
            this.$router.push('/bug/' + bugId + '/' + this.selectedLab);
        },
        changeMark(id) {
            this.selectedMark = id
            this.showDropdownM = false;
            this.updateMark()
        },
        async updateMark() {
            const response = await axios.patch(`/api/laboratory-mark`, {'mark_id': this.selectedMark, 'labId': this.selectedLab, 'user_id': 1})
        },
        async downloadFile(url) {
            try {
                // Зробіть запит GET до сервера для скачування файлу
                const response = await axios.get(url, {
                    responseType: 'blob',  // Важливо вказати 'blob' для файлів
                });

                const fileName = response.headers['content-disposition'].split('filename=')[1];
                // Створіть об'єкт URL для скачування файлу
                const downloadUrl = window.URL.createObjectURL(new Blob([response.data]));

                // Створіть невидиме посилання для скачування файлу
                const link = document.createElement('a');
                link.href = downloadUrl;
                link.setAttribute('download', fileName);  // Встановіть ім'я файлу
                document.body.appendChild(link);
                link.click();
                link.remove();
            } catch (error) {
                console.log(error);
            }
        }
    },
    computed: {
        notStatusBugs: function () {
            return this.bugs.filter(function(bug){
                return bug.status_id === null
            })
        },
        returnStatusBugs: function () {
            return this.bugs.filter(function(bug){
                return bug.status_id === 1
            })
        },
       completeStatusBugs: function () {
            return this.bugs.filter(function(bug){
                return bug.status_id === 2
            })
        },

        getUserName: function () {
            return localStorage.getItem('name');
        },
        getUserRole: function () {
            return localStorage.getItem('role')
        },
        isTeacher: function () {
            return localStorage.getItem('role') == 'teacher'
        },

        selectedMarkElem: function () {
            let vm = this
            return this.marks.find(function(mark){
                return mark.id === vm.selectedMark
            })
        },
        findLabElem: function () {
            let vm = this
            return this.labs.find(function(lab){
                return lab.id === vm.selectedLab
            })
        },
        getTeacherMark: function(){
            let vm = this
            return this.marks.find(function(mark){
                return mark.id === vm.findLabElem.mark_id
            })
        }

    },
    mounted() {
        this.getMarks()
        this.getAllLabs()
    }
}
</script>

<style scoped>

</style>
