<template>

    <div class="CabinetTeacherLabs">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Баг репорт</h3>
                </div>
                <div class="col-6">
                    <div class="select">
                        <select class="form-select" v-model="selectedGroup" @change="getAllLabs(selectedGroup)">
                            <option v-for="group in groups" :value="group.id">{{ group.name }}</option>
                        </select>
                    </div>
                    <div class="elems">

                        <div class="itemWrap" v-for="lab in labs">
                            <div class="item">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Назва лабораторної"
                                       v-model="updateLabName"
                                       v-if="lab.id === this.updateLabId"
                                >
                                <div class="text"
                                     v-if="lab.id != this.updateLabId"
                                >
                                    {{lab.title}}
                                </div>
                                <div class="keys">
                                    <img  src="/img/down.svg" alt=""
                                          @click="downloadFile(lab.fileDown)"
                                          v-if="lab.fileDown && lab.id != this.updateLabId"
                                    >
                                    <img  src="/img/pencil-square1.svg" alt=""
                                          @click="this.updateLabId = lab.id; this.updateLabName = lab.title"
                                          v-if="lab.id != this.updateLabId"
                                    >
                                    <img  src="/img/save.svg" alt=""
                                          @click="updateLab(lab.id)"
                                          v-if="lab.id === this.updateLabId"
                                    >
                                    <img src="/img/trash.svg" alt=""
                                         @click="deleteLab(lab.id)"
                                    >
                                </div>
                            </div>
                            <div class="file">
                                <label :for="'lab'+lab.id">
                                    <img src="/img/icons81.svg" alt="">
                                </label>
                                <input type="file" :id="'lab'+lab.id" @change="uploadFile(lab.id, $event)">
                            </div>

                        </div>

                        <div class="item">
                            <input type="text" class="form-control" v-model="newLabTitle" placeholder="Назва лабораторії">
                        </div>
                        <button class="float-end"
                                @click="createLab"
                        >Додати лобараторну</button>
                    </div>


                </div>
                <div class="col-6">
                    <div class="elems">
                        <div class="item" v-for="group in groups">

                            <input type="text"
                                   class="form-control"
                                   placeholder="Назва групи"
                                   v-model="updateGroupName"
                                   v-if="group.id === this.updateGroupId"
                                   >
                            <div class="text"
                                 v-if="group.id != this.updateGroupId"
                            >{{group.name}}</div>

                            <div class="keys">
                                <img  src="/img/pencil-square1.svg" alt=""
                                      @click="this.updateGroupId = group.id; this.updateGroupName = group.name"
                                      v-if="group.id != this.updateGroupId"
                                >
                                <img  src="/img/save.svg" alt=""
                                      @click="updateGroup(group.id)"
                                      v-if="group.id === this.updateGroupId"
                                >
                                <img src="/img/trash.svg" alt=""
                                     @click="deleteGroup(group.id)"
                                >
                            </div>

                        </div>
                        <div class="item">
                            <input type="text" class="form-control" v-model="newGroup" placeholder="Назва групи">
                        </div>
                        <button class="float-end"
                                @click="createGroup"
                        >ДоДати групу</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>
import axios from "../service/setAuthHeader";

export default {
    name: "CabinetTeacherLabs",
    data(){
        return {
            labs: [],
            newLabTitle: '',
            updateLabId: null,
            updateLabName: '',
            groups: [],
            selectedGroup: null,
            newGroup: '',
            updateGroupId: null,
            updateGroupName: ''
        }
    },
    methods: {
        async getAllLabs(groupId){
            const response = await axios.get(`/api/laboratory?groupId=${groupId}`)
            this.labs = response.data
        },
        async createLab(){
            const response = await axios.post('/api/laboratory', { title: this.newLabTitle, group_id: this.selectedGroup })
            this.labs.push(response.data)
            this.newLabTitle = ''
        },
        async updateLab(id){
            const response = await axios.put(`/api/laboratory/${id}`, { title: this.updateLabName })
            this.updateLabId = null
            this.updateLabName = ''
            this.getAllLabs(this.selectedGroup)
        },
        async deleteLab(id){
            const response = await axios.delete(`/api/laboratory/${id}`)
            this.getAllLabs(this.selectedGroup)
        },
        async getGroups() {
            const response = await axios.get('/api/groups')
            this.groups = response.data
            if (this.groups.length > 0) {
                this.selectedGroup = this.groups[0].id;
                this.getAllLabs(this.selectedGroup)
            }
        },
        async createGroup(){
            const response = await axios.post('/api/groups', { name: this.newGroup })
            this.groups.push(response.data)
            this.newGroup = ''
        },
        async updateGroup(id){
            const response = await axios.put(`/api/groups/${id}`, { name: this.updateGroupName })
            this.updateGroupId = null
            this.updateGroupName = ''
            this.getGroups()
        },

        async deleteGroup(id){
            const response = await axios.delete(`/api/groups/${id}`)
            this.getGroups()
        },

        async uploadFile(itemId, event) {
            try {
                let formData = new FormData();
                formData.append('file', event.target.files[0]);

                let response = await axios.post('/api/laboratory-upload/' + itemId, formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                });

                if(!response.data.error)
                {
                    this.getAllLabs(this.selectedGroup)
                }

            } catch (error) {
                console.log(error);
            }
        },

        async downloadFile(url) {
            try {

                const response = await axios.get(url, {
                    responseType: 'blob',
                });

                const fileName = response.headers['content-disposition'].split('filename=')[1];
                const downloadUrl = window.URL.createObjectURL(new Blob([response.data]));

                const link = document.createElement('a');
                link.href = downloadUrl;
                link.setAttribute('download', fileName);
                document.body.appendChild(link);
                link.click();
                link.remove();
            } catch (error) {
                console.log(error);
            }
        }
    },
    mounted() {
        this.getGroups()
    }
}
</script>

<style scoped>

</style>
