<template>
    <div class="cabinet">
        <div class="toolBar teacher">
            <div class="item">
                <div class="title">
                    Пошук
                </div>

                <select class="form-select"  v-model="selectedGroup" @change="getUsers(selectedGroup)">
                    <option v-for="group in groups" :value="group.id">{{ group.name }}</option>
                </select>
                <select class="form-select"  v-model="selectedUser" @change="getLabs(selectedGroup)">;
                    <option v-for="user in users" :value="user.id">{{ user.name }}</option>
                </select>
                <select class="form-select" v-model="selectedLab" @change="getBugs()">
                    <option v-for="lab in labs" :value="lab.id">{{ lab.title }}</option>
                </select>

            </div>
            <Social></Social>
        </div>

        <div class="bords">
            <div class="bord">
                <div class="title flex">
                    <div class="text" >Баг репорти</div>
                </div>
                <div v-if="bugs.length">
                    <div class="item" v-for="bug in notStatusBugs" @click="goToBug(bug.id)">
                        <div class="line">
                            <div class="name" v-if="this.getCurrentUser">{{this.getCurrentUser.name}}</div>
                            <div class="name">{{bug.date}}</div>
                        </div>
                        <div class="line">
                            <div class="name">{{bug.title}}</div>
                            <div class="mark_number">
                                <div class="mark" v-if="marks.length && bug.mark_id"
                                     :style="{ 'background-color': this.getMark(bug.mark_id).color }"
                                >{{this.getMark(bug.mark_id).name}}</div>
                                <div class="name">{{bug.number}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bord">
                <div class="title">Повернено</div>
                <div v-if="bugs.length">
                    <div class="item" v-for="bug in returnStatusBugs" @click="goToBug(bug.id)">
                        <div class="line">
                            <div class="name" v-if="this.getCurrentUser">{{this.getCurrentUser.name}}</div>
                            <div class="name">{{bug.date}}</div>
                        </div>
                        <div class="line">
                            <div class="name">{{bug.title}}</div>
                            <div class="mark_number">
                                <div class="mark"
                                     v-if="marks.length && bug.mark_id"
                                     :style="{ 'background-color': this.getMark(bug.mark_id).color }"
                                >{{this.getMark(bug.mark_id).name}}</div>
                                <div class="name">{{bug.number}}</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="bord">
                <div class="title">Виконано</div>
                <div v-if="bugs.length">
                    <div class="item" v-for="bug in completeStatusBugs" @click="goToBug(bug.id)">
                        <div class="line">
                            <div class="name" v-if="this.getCurrentUser">{{this.getCurrentUser.name}}</div>
                            <div class="name">{{bug.date}}</div>
                        </div>
                        <div class="line">
                            <div class="name">{{bug.title}}</div>
                            <div class="mark_number">
                                <div class="mark" v-if="marks.length && bug.mark_id"
                                     :style="{ 'background-color': this.getMark(bug.mark_id).color }"
                                >{{this.getMark(bug.mark_id).name}}</div>
                                <div class="name">{{bug.number}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bord">

                <div class="title flex add-bugs">
                    <button
                        @click="showDropdownM = !showDropdownM"
                    >
                        +
                    </button>
                    <div class="text">Оцінка</div>
                </div>
                <div v-if="showDropdownM" class="drowp">
                    <button v-for="(mark) in marks" :key="mark.id"
                            @click="changeMark(mark.id)"
                            :style="{ 'background-color': mark.color }"
                    >
                        {{ mark.name }}
                    </button>

                </div>
                <div>
                    <div class="teacher-mark" v-if="getTeacherMark && !showDropdownM"
                         :style="{ 'background-color': getTeacherMark.color }"
                    >
                        {{getTeacherMark.name}}
                    </div>
                </div>
            </div>

        </div>


    </div>

</template>

<script>
import axios from "../service/setAuthHeader";
import Social from "../components/Social";

export default {
    name: "CabinetTeacher",
    components: {
        Social
    },
    data(){
        return {
            groups: [],
            labs: [],
            marks: [],
            users: [],
            bugs: [],
            selectedUser: null,
            selectedGroup: null,
            selectedLab: null,

            selectedMark: null,
            showDropdownM: false,
        }
    },
    methods: {
        async getGroups() {
            const response = await axios.get(`/api/groups`)
            this.groups = response.data
            if(!this.selectedGroup && this.groups.length){
                this.selectedGroup = this.groups[0].id
                this.getUsers(this.selectedGroup)
            } else {
                this.users = []
            }
        },
        async getUsers(groupId){
            const response = await axios.get(`/api/users?groupId=${groupId}`)
            this.users = []
            this.selectedUser = null
            this.users = response.data
            if(this.selectedUser === null && this.users.length > 0){
                this.selectedUser = this.users[0].id
                this.getLabs(this.selectedGroup)
            } else {
                this.labs = []
                this.bugs = []
            }
        },
        async getLabs(selectedGroupId) {
            const response = await axios.get(`/api/laboratory?groupId=${selectedGroupId}&user_id=${this.selectedUser}`)
            this.labs = []
            this.selectedLab = null
            this.labs = response.data
            if(!this.selectedLab && this.labs.length){
                this.selectedLab = this.labs[0].id
                this.getBugs()
            } else {
                this.bugs = []
            }
        },
        async getBugs() {
            if(this.selectedLab && this.selectedUser){
                const response = await axios.get(`/api/bugs?labId=${this.selectedLab}&user_id=${this.selectedUser}`)
                this.bugs = response.data
            } else {
                this.bugs = []
            }

        },
        async getMarks(){
            const response = await axios.get(`/api/marks`)
            this.marks = response.data
        },
        getMark: function (id) {
            return this.marks.find(function(mark){
                return mark.id === id
            })
        },
        changeMark(id) {
            this.selectedMark = id
            this.showDropdownM = false;
            this.updateMark()
        },
        async updateMark() {
            let response = await axios.patch(`/api/laboratory-mark`,
                {'mark_id': this.selectedMark,
                    'labId': this.selectedLab,
                    'user_id': this.selectedUser}
            )
            response = await axios.get(`/api/laboratory?groupId=${this.selectedGroup}&user_id=${this.selectedUser}`)
            this.labs = response.data

        },
        goToBug(bugId) {
            this.$router.push('/bug/' + bugId + '/' + this.selectedLab);
        },

    },
    computed: {
        notStatusBugs: function () {
            return this.bugs.filter(function(bug){
                return bug.status_id === null
            })
        },
        returnStatusBugs: function () {
            return this.bugs.filter(function(bug){
                return bug.status_id === 1
            })
        },
        completeStatusBugs: function () {
            return this.bugs.filter(function(bug){
                return bug.status_id === 2
            })
        },
        getCurrentLab: function (){
            let vm = this
            return this.labs.find(function(lab){
                return lab.id === vm.selectedLab
            })
        },
        getTeacherMark: function(){
            let vm = this
            if(!this.getCurrentLab){
                return null
            }
            return this.marks.find(function(mark){
                return mark.id === vm.getCurrentLab.mark_id
            })
        },
        getCurrentUser: function (){
            let vm = this
            return this.users.find(function(user){
                return user.id === vm.selectedUser
            })
        },
    },
    mounted() {
        this.getMarks();
        this.getGroups();
    },
}
</script>

<style scoped>

</style>
