<template>
    <div class="CreateLab">
        <div class="row">
            <div class="col-12">
                <h3>Баг репорт</h3>
            </div>
            <div class="col-12">
                <div class="select">
                    <select name="" id="" class="form-select">
                        <option value="1">Група</option>
                        <option value="2">Лабораторна робота №2</option>
                        <option value="3">Лабораторна робота №3</option>
                        <option value="4">Лабораторна робота №4</option>
                        <option value="5">Лабораторна робота №5</option>
                        <option value="6">Лабораторна робота №6</option>
                    </select>
                </div>
            </div>
            <div class="col-12">
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="col-12">
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <button class="float-end">Відправити</button>
            </div>

        </div>
    </div>
</template>

<script>
export default {
    name: "CreateLab"
}
</script>

<style scoped>

</style>
