<template>
    <div class="home">
        <div class="block email">
            <img src="/img/email.png" alt="">
            <p>На вашу пошту було відправлено лист з <br> підтвердженням реєстрації</p>
            <button @click="$router.push('/login')">
                Логін
            </button>
        </div>

    </div>
</template>

<script>
export default {
    name: "EmailNote"
}
</script>

<style scoped>

</style>
