<template>
    <div class="home">
        <div class="block">
            <img src="/img/home.svg" alt="">
            <h2>Авторизуйтеся</h2>
            <p>щоб ввійти в свій кабінет</p>
            <button @click="$router.push('/login')">
                    Логін
            </button>
        </div>

    </div>
</template>

<script>
export default {
    name: "Home"
}
</script>

<style scoped>

</style>
