<template>
    <div class="login">
        <div class="block">
            <form >
                <div class="row top">
                    <div class="col title">Логін</div>
                    <div class="col link">
                        <router-link to="/register" >
                            Зареєструватися
                        </router-link>
                    </div>
                </div>
                <div class="mb-3">

                    <input type="email" class="form-control" id="Description"
                           v-model="user.email"
                           placeholder="Пошта"
                    >

                    <p v-for="error in errors.email"
                       class="alert alert-warning" role="alert"
                    >{{error}}</p>
                </div>
                <div class="mb-3">

                    <input type="password" class="form-control" id="Password"
                           v-model="user.password"
                           placeholder="Пароль"
                    >
                    <p v-for="error in errors.password"
                       class="alert alert-warning" role="alert"
                    >{{error}}</p>
                </div>
                <p class="alert alert-warning" role="alert"
                >{{massage}}</p>

                <div style="padding-bottom: 15px">

                </div>

                <button type="button" class="btn btn-primary"
                        @click="login()"
                >Увійти</button>
            </form>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "Login",
    data(){
        return {
            user: {},
            errors: {},
            massage: ''
        }
    },
    methods: {
        async login(){
            this.errors = {}
            const response = await axios.post('/api/login', this.user )
            if(response.data.errors){
                console.log('sdad');
                this.errors = response.data.errors
                this.massage = response.data.message
                return
            }
            if(response.data.token){
                localStorage.setItem('token', response.data.token)
                localStorage.setItem('role', response.data.role)
                localStorage.setItem('groupId', response.data.groupId)
                localStorage.setItem('name', response.data.name)
                if(this.isTeacher)
                {
                    this.$router.push('/cabinet-teacher')
                } else {
                    this.$router.push('/cabinet')
                }

            }
        }
    },
    computed: {
        isTeacher: function () {
            return localStorage.getItem('role') == 'teacher'
        }
    }
}
</script>

<style scoped>

</style>
