<template>

    <div class="login register">
        <div class="block">
            <form >
                <div class="row top">
                    <div class="col title">Реєстрація</div>
                    <div class="col link">
                        <router-link to="/login" >
                            Увійти
                        </router-link>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="Title"
                           v-model="user.name"
                           placeholder="ПІБ"
                    >

                    <p v-for="error in errors.name"
                       class="alert alert-warning" role="alert"
                    >{{error}}</p>
                </div>
                <div class="mb-3">
                    <select class="form-select"  v-model="selectedGroup" >
                        <option v-for="group in groups" :value="group.id">{{ group.name }}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="Description"
                           v-model="user.email"
                           placeholder="Пошта"
                    >

                    <p v-for="error in errors.email"
                       class="alert alert-warning" role="alert"
                    >{{error}}</p>
                </div>
                <div class="mb-3">

                    <input type="password" class="form-control" id="Password"
                           v-model="user.password"
                           placeholder="Пароль"
                    >
                    <p v-for="error in errors.password"
                       class="alert alert-warning" role="alert"
                    >{{error}}</p>
                </div>

                <div style="padding-bottom: 15px">

                </div>

                <button type="button" class="btn btn-primary"
                        @click="regiter()"
                >Реєстрація</button>
            </form>
        </div>

    </div>

</template>

<script>
import axios from "axios";

export default {
    name: "Register",
    data(){
        return {
            user: {},
            errors: {},
            groups: [],
            selectedGroup: null,
            massage: ''
        }
    },
    methods: {
        async regiter(){
            this.errors = {}
            const response = await axios.post('/api/register', this.user )
            if(response.data.errors){
                this.errors = response.data.errors
                return
            }
            this.$router.push('/email')
        },
        async getGroups() {
            const response = await axios.get(`/api/groups`)
            this.groups = response.data

            if(!this.selectedGroup && this.groups.length){
                this.selectedGroup = this.groups[0].id
                this.user.group_id = this.selectedGroup

            }
        }
    },
    mounted() {
        this.getGroups()
    }
}
</script>

<style scoped>

</style>
