<template>
    <div class="cabinet">
        <div class="toolBar">
            <div class="item">
                <div class="title">
                    Пошук
                </div>
                <select class="form-select" v-model="selectedUser" @change="changeLab(selectedUser)">
                    <option v-for="user in users" :value="user">{{ user.name }}</option>
                </select>
            </div>
            <Social></Social>
        </div>

        <div class="bords">
            <div class="bord" v-for="mark in marks">

                <div class="title flex"
                     :style="{ 'background-color': mark.color }"
                >
                    <div class="text" >{{mark.name}}</div>
                </div>

                <div >
                    <div class="item" v-for="lab in getMarkLabs(mark.id)" >
                        <div class="line">
                            <div class="name">{{selectedUser.name}}</div>
                            <div class="name">{{lab.date}}</div>
                        </div>
                        <div class="line">
                            <div class="name">{{lab.title}}</div>

                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>
</template>

<script>
import axios from "../service/setAuthHeader";
import Social from "../components/Social";

export default {
    name: "Results",
    components: {
        Social
    },
    data(){
        return {
            labs: [],
            marks: [],
            users: [],
            selectedUser: null
        }
    },
    methods: {
        async getLabs(userId) {
            const response = await axios.get(`/api/laboratory?user_id=${userId}`)
            this.labs = response.data
        },

        async getMarks(){
            const response = await axios.get(`/api/marks`)
            this.marks = response.data
        },

        async getUsers(){
            const response = await axios.get(`/api/users`)
            this.users = response.data
            if(!this.selectedUser && this.users.length > 0){
                this.selectedUser = this.users[0]
                this.getLabs(this.selectedUser.id)
            }
        },
        changeLab(){
            this.getLabs(this.selectedUser.id)
        },
        getMarkLabs: function (id) {
            return this.labs.filter(function(lab){
                return lab.mark_id === id
            })
        },
    },
    computed: {

    },
    mounted() {
        this.getMarks();
        this.getUsers();
    },
}
</script>

<style scoped>

</style>
