<template>

</template>

<script>

export default {
    name: "Logout",
    mounted() {
        localStorage.removeItem('token');
        localStorage.removeItem('role');
        localStorage.removeItem('groupId');
        localStorage.removeItem('name');
        //setAuthHeader(null)
        this.$router.push('/')
    }
}
</script>

<style scoped>

</style>
