<template>
    <div class="social">
        <div class="title">
            СONTACT US
        </div>
        <div class="images">
            <a target="_blank" href="https://www.facebook.com/vntu.university">
                <img src="/img/facebook.svg" alt="">
            </a>
            <a target="_blank" href="https://instagram.com/vntu_official?igshid=NTc4MTIwNjQ2YQ==">
                <img src="/img/instagram.svg" alt="">
            </a>
            <a target="_blank" href="https://t.me/vntu_live/664">
                <img src="/img/telegram.svg" alt="">
            </a>
            <a target="_blank" href="https://www.linkedin.com/school/vinnytsia-national-technical-university/?originalSubdomain=ua">
                <img src="/img/linkedin.svg" alt="">
            </a>
        </div>
    </div>
</template>

<script>
export default {
    name: "Social"
}
</script>

<style scoped>

</style>
